.advice__list {
  outline: 5px solid rgba(255, 0, 0, 0.8);
  outline-offset: -5px;
  padding: 35px 0 11px 69px;
}

.advice__title {
  margin: 0 0 15px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.advice__description {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
}

.advice__item {
  // position: relative;
  text-align: left;
  padding: 0 0 27px;
}

.advice__house {
  position: absolute;
  left: 25px;
  width: 39px;
  height: 37px;
  background-image: url("../img/icon-house.svg");
  background-repeat: no-repeat;
}

.advice__souvenirs {
  position: absolute;
  left: 25px;
  width: 39px;
  height: 37px;
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
}

.advice__food {
  position: absolute;
  left: 25px;
  width: 39px;
  height: 37px;
  background-image: url("../img/icon-burger.svg");
  background-repeat: no-repeat;
}

.advice__item--lodging {
  position: relative;
  width: 240px;
}

.advice__item--souvenirs {
  position: relative;
  width: 229px;
}

.advice__item--food {
  position: relative;
  width: 210px;
}

@media (min-width: $tablet-width) {
  .advice__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .advice__house {
    left: 50%;
    margin-left: -38px;
    // left: 120px;
    width: 75px;
    height: 72px;
    background-image: url("../img/icon-house-tablet.svg");
  }

  .advice__souvenirs {
    left: 50%;
    margin-left: -32px;
    // left: 650px;
    width: 64px;
    height: 75px;
    background-image: url("../img/icon-gift-tablet.svg");
  }

  .advice__food {
    left: 50%;
    margin-left: -38px;
    // top: 25px;
    // left: 395px;
    width: 76px;
    height: 68px;
    background-image: url("../img/icon-burger-tablet.svg");
  }

  .advice__list {

  }

  .advice__item--lodging {
    padding-top: 90px;
    order: 1;
    width: 185px;
    text-align: center;
  }

  .advice__item--souvenirs {
    padding-top: 90px;
    order: 3;
    width: 180px;
    text-align: center;
  }

  .advice__item--food {
    padding-top: 90px;
    order: 2;
    width: 193px;
    text-align: center;
  }
}
