.advice {
  padding: 35px 60px 35px 70px;
}

.advice__title {
  margin: 0 0 15px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.advice__description {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
}

.advice__item {
  position: relative;
  margin-bottom: 27px;
  text-align: left;

  &:last-child {
    padding-bottom: 0;
  }

  &::before {
    position: absolute;
    top: -10px;
    left: -50px;
    width: 40px;
    height: 38px;
    content: "";
    background-position: center bottom;
    background-repeat: no-repeat;
  }

  &--lodging::before {
    background-image: url("../img/icon-house.svg");
    background-size: 40px 37px;
  }

  &--souvenirs::before {
    background-image: url("../img/icon-gift.svg");
    background-size: 32px 38px;
  }

  &--food::before {
    background-image: url("../img/icon-burger.svg");
    background-size: 40px 35px;
  }
}

@media (min-width: $tablet-width) {
  .advice {
    padding: 60px 31px 60px 36px;
  }

  .advice__item {
    position: relative;
    padding: 0 0 27px;
    padding-top: 90px;
    justify-self: center;
    text-align: center;
    margin: 0;

    &::before {
      position: absolute;
      top: 0;
      left: 50%;
      width: 76px;
      height: 75px;
      content: "";
      transform: translateX(-50%);
      background-position: center bottom;
      background-repeat: no-repeat;
    }

    &--lodging::before {
      background-image: url("../img/icon-house.svg");
      background-size: 75px 72px;
    }

    &--souvenirs::before {
      background-image: url("../img/icon-gift.svg");
      background-size: 76px 68px;
    }

    &--food::before {
      background-image: url("../img/icon-burger.svg");
      background-size: 64px 75px;
    }
  }

  .advice__item--lodging {
    max-width: 180px;
  }

  .advice__item--souvenirs {
    max-width: 193px;
    order: 3;
  }

  .advice__item--food {
    max-width: 180px;
    order: 2;
  }
}

@media (min-width: $desktop-width) {
  .advice__item--lodging {
    max-width: 282px;
  }

  .advice__item--souvenirs {
    max-width: 313px;
  }

  .advice__item--food {
    max-width: 244px;
  }
}
