.button-send {
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: $white;
  padding: 18px 33px 14px;
  border: none;
  border-radius: 0;
  background-color: $blue;
  text-transform: uppercase;
}
