.button-primary {
  // display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: $white;
  border: none;
  background-color: $blue;
  border-radius: 0;
  text-transform: uppercase;
  padding: 14px 33px 18px;

  &:hover,
  &:focus {
    background-color: $dark-blue;
  }

  &:active {
    background-color: $dark-dark-blue;
  }

  &:active span {
    opacity: 0.3;
  }

  &:disabled {
    background-color: $gray-hover;
  }
}

@media (min-width: $tablet-width) {
  .button-primary {
    padding: 14px 121px 18px;
  }
}

