.checkbox__label {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  position: relative;
  padding-left: 60px;
  cursor: pointer;
  display: inline-block;
}

.checkbox__box svg {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.checkbox__input:focus + .checkbox__box,
.checkbox__input:hover + .checkbox__box {
  background-color: $grey-hover;
}

.checkbox__input:checked + .checkbox__box {
  svg {
    display: block;
  }
}

.checkbox__input:active + .checkbox__box {
  background-color: $grey-checked;

  svg {
    opacity: 0.3;
  }
}

.checkbox__box {
  position: absolute;
  width: 46px;
  height: 46px;
  top: -10px;
  border-radius: 7px;
  background-color: $grey;
  display: block;
}

.checkbox__item {
  margin-bottom: 54px;

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .checkbox {
    display: flex;
    flex-wrap: wrap;
  }

  .checkbox__item {
    width: 50%;
    margin-bottom: 62px;

    &:nth-child(4n+1) {
      width: 57%;
    }

    &:nth-child(4n+2) {
      width: 43%;
    }

    &:nth-child(4n+3) {
      width: 57%;
    }

    &:nth-child(4n+4) {
      width: 43%;
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 54px;
    }
  }
}

@media (min-width: $desktop-width) {
  .checkbox__item {
    width: 25%;
    margin-bottom: 73px;
  }

  .checkbox__box {
    border-radius: 0;
  }
}
