.checkbox__label {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  position: relative;
  padding-left: 60px;
}

.checkbox__input {
  position: absolute;
  display: block;
  margin-bottom: -21px;
}

.checkbox__input:focus + .checkbox__box {
  background-color: $gray-hover;
}

.checkbox__input:checked + .checkbox__box {
  // left: 10px;
  // top: 10px;
  background-color: $gray-checked;
  background-image: url("../img/checkbox-checked.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.checkbox__box {
  position: absolute;
  width: 46px;
  height: 46px;
  margin-top: -5px;
  border-radius: 7px;
  background-color: $gray;
  display: block;
}

.checkbox__item {
  margin-bottom: 54px;

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .checkbox {
    display: flex;
    flex-wrap: wrap;
  }

  .checkbox__item {
    width: 50%;
    margin-bottom: 62px;
  }
}

@media (min-width: $desktop-width) {
  .checkbox__item {
    width: 25%;
    margin-bottom: 73px;
  }
}
