.copyright {
  font-size: 14px;
  line-height: 26px;
  display: flex;
  align-items: center;
}

.copyright__text {
  text-transform: uppercase;
  width: 121px;
}

.copyright__link-icon:hover,
.copyright__link-icon:focus {
  background-image: url("../img/logo-htmlacademy-hover.svg");
}

.copyright__link-icon:active {
  background-image: url("../img/logo-htmlacademy-active.svg");
}
