.copyright {
  font-size: 14px;
  line-height: 26px;
  display: flex;
  align-items: center;
}

.copyright__text {
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .copyright__text {
    width: 121px;
  }
}
