.feature__promo--city {
  background-repeat: no-repeat;
}

.feature__promo--bridge {
  background-repeat: no-repeat;
  background-size: cover;
  order: 2;
}

@media (min-width: $tablet-width) {
  .feature__promo--city {
    background-size: cover;
  }
}

