.features__list {
  margin-top: 27px;
  text-align: center;
}

.features__slogan {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.features__description {
  margin: 0;
}

.features__intro {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: $light-black;
  text-transform: uppercase;
}

.features__item {
  padding-top: 40px;
  background-color: $light-gray;
}

.features__item--color {
  background-color: $blue;
  color: $white;
}

.features__item--color .features__description,
.features__item--color .features__intro {
  color: $white;
}

.features__first {
  outline: 5px solid rgba(255, 0, 0, 0.8);
  outline-offset: -5px;

  @media (min-width: $desktop-width) {
  margin: auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  }

  @media (min-width: $tablet-width) {
  margin: auto;
  max-width: 768px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  }
}

.features__second {
  outline: 5px solid rgba(255, 0, 0, 0.8);
  outline-offset: -5px;

  @media (min-width: $desktop-width) {
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  }

  @media (min-width: $tablet-width) {
  margin: auto;
  max-width: 768px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  }
}

.features__third {
  outline: 5px solid rgba(255, 0, 0, 0.8);
  outline-offset: -5px;

  @media (min-width: $desktop-width) {
  margin: auto;
  max-width: 1200px;
  display: flex;
  }

  @media (min-width: $tablet-width) {
  margin: auto;
  max-width: 768px;
  display: flex;
  }
}
