.features__list {
  text-align: center;
}

.features__slogan {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.features__description {
  margin: 0;
  padding: 8px 0 15px;
  display: block;
}

.features__intro {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: $light-black;
  text-transform: uppercase;
}

.features__item {
  padding-top: 40px;
  background-color: $light-gray;
  width: 100%;
}

.features__item--color {
  background-color: $blue;
  color: $white;
  height: 100%;
  padding: 39px 16px 35px;
}

.features__item--color .features__description,
.features__item--color .features__intro {
  color: $white;
}

.features__first {
  outline: 5px solid rgba(255, 0, 0, 0.8);
  outline-offset: -5px;
}

.features__second {
  outline: 5px solid rgba(255, 0, 0, 0.8);
  outline-offset: -5px;
  display: grid;
}

.features__third {
  outline: 5px solid rgba(255, 0, 0, 0.8);
  outline-offset: -5px;

  br {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .features__first {
    display: grid;
    grid-template-columns: 1fr 2fr;
    order: 1;
    position: relative;
  }

  .features__list--banner {
    position: absolute;
    background-position: center;
    background-image: url("../img/white-banner-mobile.svg");
  }

  .features__second {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .features__third {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .features__item--color {
    padding-top: 40px 32px 44px;
    order: 1;
  }

  .features__item--first {
    padding: 42px 34px 63px 33px;
    // width: 268px;
  }

  .features__item--second {
    padding: 42px 48px 41px 46px;
    // width: 237px;
  }

  .features__item--third {
    padding: 42px 40px 42px 41px;
    // width: 276px;
  }

  .features__item--color-two {
    order: 2;
  }

  .features__description--color {
    padding: 18px auto 20px;
  }

  .features__banner img {
    background-image: url("../img/content-feedback-tablet.jpg");
  }
}

@media (min-width: $desktop-width) {
  .features__item--color {
    padding-top: 49px;
  }

  .features__banner img {
    background-image: url("../img/content-feedback-desktop.jpg");
  }
}
