.feedback__title {
  margin-top: 0;
  margin-bottom: 28px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.feedback__description {
  font-size: 14px;
  line-height: 24px;
  color: $light-black;
  text-transform: uppercase;
}

.feedback__banner {
  margin: 0;
  padding: 108px 0 67px;
  background-image: url("../img/content-feedback-mobile.jpg");
  background-repeat: no-repeat;
}

.feedback__specification {
  margin: 0 auto;
  text-align: center;
  padding: 36px 0 17px;
  border-bottom: 1px solid $grey-checked;

  br {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .feedback__specification {
    padding: 60px 0 88px;
    border: none;
    margin-bottom: 0;

    br {
      display: block;
    }
  }

  .feedback__title {
    font-size: 30px;
    margin-bottom: 32px;
  }
}

@media (min-width: $desktop-width) {
  .feedback__specification {
    padding: 114px 0 58px;
  }

  .feedback__title {
    margin-bottom: 35px;
  }
}
