@media (min-width: $tablet-width) {
  .form-item {
    padding: 0 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 60px;
    padding-left: 60px;
  }
}

@media (min-width: $desktop-width) {
  .form-item {
    padding-right: 120px;
    padding-left: 120px;
  }
}
