.form {
  text-align: center;
}

.form__title {
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.form__text {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  color: $light-black;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.form__name {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.form__label {
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  color: $light-black;
  text-transform: uppercase;
}

.form__input {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: $black;
  border: none;
}

.form__item {
  margin: 0;
  padding: 0;
  border: none;
}

.form__textarea {
  resize: none;
}
