.form {
  text-align: center;
  padding-top: 33px;
  padding-bottom: 49px;
}

.form__title {
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.form__text {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  color: $light-black;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.form__name {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 15px;
}

.form__label {
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  color: $light-black;
  text-transform: uppercase;
}

.form__input {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: $black;
  border: none;
}

.form__item {
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 47px;
}

.form__textarea {
  resize: none;
  margin-bottom: 51px;
  padding: 5px;
}

@media (min-width: $tablet-width) {
  .form {
    outline: 5px solid rgba(0, 255, 0, 0.8);
    outline-offset: -5px;
    padding: 58px auto 58px;
  }

  .form__item {
    outline: 5px solid rgba(0, 255, 0, 0.8);
    outline-offset: -5px;
  }

  .form__item--emotion {
    order: 1;
    width: 50%;
  }

  .form__item--name {
    order: 2;
    width: 50%;
  }

  .form__item--contact {
    order: 3;
    width: 100%;
  }

  .form__item--place {
    order: 4;
    width: 100%;
  }

  .form__item--feedback {
    order: 5;
    width: 100%;
  }

  .form__name {
    font-size: 21px;
    padding-bottom: 48px;
  }
}

@media (min-width: $desktop-width) {
  .form {
    padding: 58px auto 66px;
  }

  .form__item--contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .form__list-place {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
  }
}

