.form-search {
  text-align: center;
  padding-top: 19px;
  padding-bottom: 49px;
}

.form-search__title {
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 0 24px;
}

.form-search__text {
  margin: 0 auto 27px;
  max-width: 260px;
  font-size: 14px;
  line-height: 24px;
  color: $light-black;
  text-transform: uppercase;

  br {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .form-search {
    padding: 57px 0 57px;
  }

  .form-search__title {
    font-size: 30px;
    margin: 0 0 40px;
    padding: 0;
  }

  .form-search__text {
    max-width: 100%;
    text-align: center;
    margin: 0 auto 35px;

    br {
      display: block;
    }
  }
}

@media (min-width: $desktop-width) {
  .form-search {
    padding-bottom: 67px;

    &__title {
      margin-bottom: 35px;
    }

    &__text {
      margin-bottom: 40px;
    }
  }
}
