.form-search {
  text-align: center;
  padding-top: 23px;
  padding-bottom: 49px;
}

.form-search__title {
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 0 10px;
}

.form-search__text {
  margin-bottom: 27px;
  margin-left: 30px;
  max-width: 260px;
  font-size: 14px;
  line-height: 24px;
  color: $light-black;
  text-transform: uppercase;

  br {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .form-search {
    padding: 58px 0 58px;
  }

  .form-search__title {
    font-size: 30px;
    margin: 0 0 30px;
    padding: 0;
  }

  .form-search__text {
    width: 435px;
    text-align: center;
    margin: 0 auto 50px;
  }
}
