.main-nav {
  background-color: $blue;

  &:hover,
  &:focus {
    background-color: $dark-blue;
  }

  &:active {
    background-color: $blue-down;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .main-nav {
    background-color: $white;
  }
}
