  .main-nav {
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    color: $white;
    background-color: $blue;
    text-decoration: none;
    margin: 0 auto;
    width: 320px;
    text-align: center;
  }

  .page-main__container {
    margin: 0 auto;
    width: 320px;
  }
