.map__iframe {
  width: 320px;
  height: 350px;
  background-image: url("../img/map-mobile.jpg");
  background-repeat: no-repeat;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .map__iframe {
    margin: auto;
    max-width: 100%;
  }
}

