.page {
  height: 100%;
  background-color: $white;
}

.page__body {
  height: 100%;
  color: $black;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  font-family: $default-font;
  min-height: 100%;
}

@media (min-width: $desktop-width) {
  .page {
    background-color: $very-light-grey;
    padding: 0 40px;
  }

  .page-header__bar {
    background-color: $white;
  }
}
