.page-footer {
  padding-top: 29px;
  padding-bottom: 23px;
  text-align: center;
}

.page-footer__hashtag {
  margin: 0;
  margin-bottom: 33px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.page-footer__social {
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    margin-bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .page-footer__hashtag {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    background-color: $white;
  }
}
