.page-footer {
  // padding-bottom: 23px;
  text-align: center;

  &--index {
    padding-top: 20px;
  }

  &--catalog {
    padding-top: 135px;
  }

  &--form {
    margin: 0;
    padding-top: 36px;
    padding-bottom: 36px;
  }
}

.page-footer__hashtag {
  // margin: 0;
  // margin-bottom: 33px;
  // margin-top: 9px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;

  &-form {
    // margin-top: 47px;
  }
}

// .page-footer__social {
//   // margin-bottom: 40px;
// }

.page-footer__copyright {
  display: flex;
  justify-content: center;
}

@media (min-width: $tablet-width) {
  .page-footer {
    margin-bottom: 0;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

    &--index {
      padding-top: 36px;
      padding-bottom: 36px;
    }

    &__hashtag {
      margin: 0;
      padding-left: 12px;
    }

    &--catalog {
      padding-top: 36px;
    }

    &--form {
      padding: 36px 0 36px;
    }
  }

  .page-footer__social {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    background-color: $white;
    padding: 36px 0;

    &__hashtag {
      padding-right: 12px;
      padding-left: 0;
    }
  }
}
