.page {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  font-family: "PT sans", "Arial", sans-serif;
  color: $black;
  background-color: $white;
  height: 100;
}

.page-body {
  color: $black;
}
