.page-header {
  min-height: 56px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  background-color: $white;
  padding-top: 17px;
}

.page-header--opened {
  .page-header__nav {
    display: block;
    width: 100%;
    margin-top: 50px;
  }

  .page-header__toggle {
    background-image: url("../img/mobile-menu-close.svg");
    top: 0;
    right: auto;
    left: 0;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 80px;
      left: auto;
      right: 16px;
      width: 23px;
      height: 3px;
      background-color: $black;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:active::before,
    &:active::after {
      background-color: rgba($black, 0.3);
    }
  }
}

.page-header__nav {
  display: block;
  background-color: $blue;
  position: relative;
}

.page-header__logo {
  height: 84px;
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 0;
  transform: translate(-50%);
}

.page-header__toggle {
  display: inline-flex;
  margin-right: 20px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  background-image: url("../img/mobile-menu.svg");
  background-repeat: no-repeat;
  block-size: 23px 22px;
  background-position: center;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__logodesktop {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-header__nav {
    display: block;
  }

  .page-header--opened {
    .page-header__nav {
      margin-top: 0;
    }
  }

  .page-header__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    display: none;
  }

  .page-header__logodesktop {
    display: block;
    height: 84px;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 0;
    transform: translate(-50%);
  }
}
