.page-header {
  min-height: 56px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  background-color: $white;
}

.page-header--opened {
  padding-bottom: 56px;

  .page-header__list {
    display: block;
  }

  .page-header__nav {
    position: relative;
  }

  .page-header__toggle {
    background-image: url("../img/mobile-menu-close.svg");
  }
}

.page-header__nav {
  width: 100%;
}

.page-header__logo {
  height: 84px;
  position: absolute;
  z-index: 1;
  left: 50%;
  bottom: -28px;
  transform: translate(-50%);
}

.page-header__toggle {
  position: absolute;
  right: 20px;
  top: 15px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  background-image: url("../img/mobile-menu.svg");
  background-repeat: no-repeat;
  background-size: 23px 22px;
  background-position: center;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__list {
  display: none;
  background-color: $blue;
}

@media (min-width: $tablet-width) {
  .page-header {
    min-height: auto;
  }

  .page-header--opened {
    padding-bottom: 0;

    .page-header__list {
      display: flex;
    }
  }

  .page-header__logo {
    top: 0;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__list {
    background-color: $white;
    display: flex;
    padding: 16px 0 14px;
  }
}
