.posts__item {
  padding: 22px 20px 15px 20px;
  border-bottom: 1px solid $grey-hover;

  &:first-child {
    border-top: 1px solid $grey-hover;
  }
}

@media (min-width: $tablet-width) {
  .posts {
    padding: 0 60px;
    margin-bottom: 59px;
  }

  .posts__list {
    display: flex;
    flex-wrap: wrap;
  }

  .posts__item {
    width: 50%;
    padding: 0;
    border-bottom: none;

    &:first-child {
      width: 100%;
      border: none;
    }

    &:nth-child(odd):not(:first-child) {
      background-color: $light-grey-active;
    }
  }
}

@media (min-width: $desktop-width) {
  .posts {
    padding: 0;
    margin-bottom: 63px;
  }

  .posts__item {
    position: relative;
    width: 100% / 3 * 1;
    background-color: $grey;
  }
}
