.post__title {
  // margin: 0;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 9px;
}

.post__text {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 13px;
}

.post__likes {
  position: relative;
  margin: 0;
  // padding-bottom: 6px;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;

  svg {
    margin-right: 14px;
    color: rgba($black, 0.3);
  }
}

.post__link {
  display: block;
  height: 280px;
}

.post__link img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: $tablet-width) {
  .post {
    background-color: $grey;

    &--title {
      margin-top: 17px;
    }
  }

  .post--promo {
    .post__link {
      height: 400px;
    }
  }

  .post__link {
    height: 267px;

    // img {
    //   padding-top: 5px;
    // }
  }

  .post__desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 28px 5px 20px;
  }

  .post__item {
    display: block;
    position: relative;
  }

  .post__likes {
    padding-bottom: 0;
    font-weight: bold;
    // margin-right: 8px;

    svg {
      width: 23px;
    }
  }

  .post__title {
    margin-top: 15px;
  }
}

@media (min-width: $desktop-width) {
  .post {
    background-color: $white;
    color: $white;
  }

  .post__desc {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba($black, 0.3);
  }

  .post__link {
    line-height: 0;
  }

  .post__likes {
    svg {
      color: $white;
    }
  }
}
