.posts__item {
  padding: 22px 20px 15px 20px;
}

.posts__large {
  padding: 22px 20px 15px 20px;
}

@media (min-width: $tablet-width) {
  .posts {
    padding: 0 60px;
  }

  .posts__list {
    padding-bottom: 59px;
    display: flex;
    flex-wrap: wrap;
  }

  .posts__list .li:nth-child(2n) {
    background-color: $light-gray-active;
  }

  .posts__item {
    width: 50%;
  }

  .posts__large {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .posts {
    padding: 0;
  }

  .posts__item {
    width: calc(100% / 3 * 1px);
  }
}
