.promo {
  background-color: $white;
}

.promo__description {
  margin: 0 auto;
  width: 285px;
}

.promo__banner {
  padding: 90px 0 85px;
  background-image: url("../img/promo-banner-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.promo__slogan {
  margin: 0;
  margin-bottom: 27px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.promo__intro {
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  color: $light-black;
  text-align: center;
  text-transform: uppercase;
}

.promo__specification {
  margin: 0 auto;
  text-align: center;
  padding: 32px 0 20px;
  border-bottom: 1px solid $gray-hover;
}

@media (min-width: $tablet-width) {
  .promo__description {
    margin: 44px auto 53px;
    width: 520px;
  }

  .promo__banner {
    background-image: url("../img/promo-banner-tablet.jpg");
    padding-top: 95px;
    padding-bottom: 117px;
  }

  .promo__banner img {
    width: 460px;
    height: 350px;
  }

  .promo__specification {
    padding: 65px 0 65px;
  }

  .promo__slogan {
    font-size: 21px;
  }
}

@media (min-width: $desktop-width) {
  .promo__banner {
    background-image: url("../img/promo-banner-desktop.jpg");
    padding-top: 95px;
    padding-bottom: 120px;
  }

  .promo__specification {
    padding: 102px 0 67px;
  }

  .promo__description {
    width: 493px;
  }
}
