.promo {
  background-color: $white;
}

.promo__description {
  position: relative;
  margin: 0 auto;
  max-width: 285px;
  padding: 32px 0 11px;
}

.promo__banner {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  position: relative;

  &::before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 56px;
    content: "";
    background-image: url("../img/triangle-mobile.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 57px;
  }


  &--index {
    padding: 90px 0 85px;
    background-image: url("../img/promo-banner-mobile-index.jpg");
    background-color: $blue;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/promo-banner-mobile-index@2x.jpg");
    }
  }

  &--inner {
    padding: 52px 0 67px;
    background-image: url("../img/promo-banner-mobile-inner.jpg");
    background-color: $blue;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/promo-banner-mobile-inner@2x.jpg");
    }
    background-position: bottom;
  }
}

.promo__slogan {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  max-width: 285px;

  &--big {
    margin: 0 9px 29px;
  }

  &--small {
    margin: 0 9px 31px;
  }
}

.promo__intro {
  margin: 0 auto;
  font-size: 14px;
  color: $light-black;
  text-align: center;
  text-transform: uppercase;

  &--small {
    line-height: 26px;
  }

  &--big {
    line-height: 24px;
  }

  br {
    display: none;
  }
}

.promo__specification {
  margin: 0 auto;
  text-align: center;
  padding: 30px 14px 32px 18px;
  max-width: 100%;
}

@media (min-width: $tablet-width) {
  .promo__description {
    margin-top: 44px;
    margin-bottom: 52px;
    max-width: 520px;
    padding: 0;

    br {
      display: block;
    }
  }

  .promo__banner {
    position: relative;
    padding-top: 75px;
    padding-bottom: 93px;

    &::after {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 56px;
      content: "";
      background-image: url("../img/triangle-tablet.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% 57px;
    }

    &::before {
      display: none;
    }

    &--index {
      background-image: url("../img/promo-banner-tablet-index.jpg");
      background-size: cover;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/promo-banner-tablet-index@2x.jpg");
      }
    }

    &--inner {
      background-image: url("../img/promo-banner-tablet-inner.jpg");
      background-size: cover;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/promo-banner-tablet-inner@2x.jpg");
      }
    }
  }

  .promo__banner--index img {
    height: 350px;
    width: 461px;
  }

  .promo__banner--inner img {
    height: 78px;
    width: 457px;
  }

  .promo__specification {
    padding: 60px 0 80px;
    max-width: 458px;
    margin: 0 auto;
  }

  .promo__intro {
    max-width: 100%;

    br {
      display: block;
    }
  }

  .promo__slogan {
    font-size: 30px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 33px;
    max-width: 100%;

    &--small {
      font-size: 21px;
      margin-bottom: 30px;
    }
  }
}

@media (min-width: $desktop-width) {
  .promo__banner {
    padding-top: 100px;
    padding-bottom: 120px;

    &--index {
      background-image: url("../img/promo-banner-desktop-index.jpg");
      background-size: cover;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/promo-banner-desktop-index@2x.jpg");
      }
    }

    &--inner {
      background-image: url("../img/promo-banner-desktop-inner.jpg");
      background-size: cover;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/promo-banner-desktop-inner@2x.jpg");
      }
    }
  }

  .promo__specification {
    padding: 102px 0 80px;
  }

  .promo__description {
    max-width: 493px;
  }
}
