.promo__banner {
  padding: 90px 0 85px;
  background-image: url("../img/content-promo.png");
}

.promo__description {
  padding: 30px 0 48px;
}

.promo__slogan {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
}

.promo__intro {
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: $light-black;
  text-align: center;
}

