.radio-button__label {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  padding-bottom: 43px;
  position: relative;
  padding-left: 60px;
}

.radio-button__name {
  position: absolute;
  width: 48px;
  height: 48px;
  margin-top: -10px;
  border-radius: 50%;
  background-color: $grey;
  display: block;
}

.radio-button__item {
  padding-bottom: 43px;
}

.radio-button__input {
  position: absolute;
  display: block;
  margin-bottom: -21px;
}

.radio-button__input:focus + .radio-button__name {
  background-color: $grey-hover;
}

.radio-button__input:checked + .radio-button__name {
  background-color: $grey-checked;
  background-image: url("../img/radio-input-checked.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: $tablet-width) {
  .radio-button__label {
    padding-bottom: 52px;
  }
}

@media (min-width: $desktop-width) {
  .radio-button__item {
    padding-bottom: 52px;
  }
}
