.radio-button__label {
  position: relative;
  padding-left: 60px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
}

.radio-button__name {
  position: absolute;
  left: 0;
  top: -12px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: $grey;

  &::after {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    content: "";
    width: 22px;
    height: 22px;
    background-color: $light-black;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
}

.radio-button__item {
  margin-bottom: 43px;
}

.radio-button__input:hover + .radio-button__name,
.radio-button__input:focus + .radio-button__name {
  background-color: $grey-hover;
}

.radio-button__input:active + .radio-button__name {
  background-color: $grey-checked;
}

.radio-button__input:active + .radio-button__name::after {
  opacity: 0.3;
}

.radio-button__input:checked + .radio-button__name::after {
  display: block;
}

@media (min-width: $tablet-width) {
  .radio-button__iteml {
    margin-bottom: 51px;
  }
}
