.send-to-all {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: $white;
  padding-top: 14.5px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 17.5px;
  text-decoration: none;
  margin-top: 27px;
  border: none;
  background-color: $blue;
}
