.site-list__link {
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: $white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &:hover,
  &:focus {
    color: $blue;
  }

  &:active {
    color: $black;
    opacity: 0.3;
  }
}

.site-list__link--active {
  color: $light-brown;

  &:hover,
  &:focus {
    color: $dark-brown;
  }

  &:active {
    color: rgba($light-brown, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    justify-content: space-between;
  }

  .site-list__item {
    width: 20%;

    &:first-child {
      padding-left: 34px;
    }

    &:nth-child(3) {
      padding-left: 40px;
    }

    &:last-child {
      padding-right: 27px;
    }
  }

  .site-list__link {
    font-size: 14px;
    line-height: 26px;
    color: $black;
  }
}
