.site-list__link {
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: $white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
  }

  .site-list__link {
    font-size: 14px;
    line-height: 26px;
    color: $black;
    width: 20%;
    // display: inline;
  }

  .site-list__link--first {
  }

  .site-list__link--second{
  }

  .site-list__link--third {
    margin-left: auto;
  }

  .site-list__link--fourth {
  }
}

@media (min-width: $desktop-width) {
}
