.social {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.social__link {
  width: 46px;
  height: 48px;
  background-color: $blue;
  box-sizing: border-box;
  display: block;
  text-align: center;
}

.social__item {
  &:not(:last-child) {
    margin-right: 6px;
  }
}

@media (min-width: $tablet-width) {
}
