.social {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.social__link {
  width: 46px;
  height: 48px;
  background-color: $blue;
  box-sizing: border-box;
  display: block;
  text-align: center;
}

.social__item {
  &:not(:last-child) {
    margin-right: 6px;
  }
}
