.social {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.social__link {
  width: 46px;
  height: 48px;
  background-color: $blue;
  box-sizing: border-box;
  display: block;
  text-align: center;

  &:hover,
  &:focus {
    background-color: $dark-blue;
  }

  &:active {
    background-color: $dark-dark-blue;
  }
}

.social__item {
  &:not(:last-child) {
    margin-right: 6px;
  }
}

.social__link--twitter {
  background-image: url("../img/icon-twitter.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.social__link--facebook {
  background-image: url("../img/icon-facebook.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.social__link--youtube {
  background-image: url("../img/icon-youtube.svg");
  background-repeat: no-repeat;
  background-position: center;
}
