$black: #000000;
$light-black: #333333;
$white: #ffffff;
$blue: #81b3d2;
$light-gray: #eeeeee;
$brown: #766458;
$very-light-gray: #e7e5e5;
$default-font: "PT sans", "Arial", sans-serif;

// Viewports

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 320px;
